<div class="request-container-<%= following_request.id%> request-container">
  <div class="request">
    <div class="user-info">
      <%user = users[user_ids.find_index(following_request.follower_id)]%>
      <%= render partial: 'home/userinfo', locals: {user: user ,attachment: user.attachment ,partial:true}%>
    </div>
    <div class="request-options">
      <%=button_to 'Accept', {controller: :followings, action: :update, id: following_request.id, from: "accept"}, method: :patch, remote: true, class: 'request_option accept-option', form_class: 'request-form'%>
      <%=button_to 'Reject', {controller: :followings, action: :destroy, id: following_request.id, from: "delete"}, method: :delete, remote: true, class: 'request_option reject-option', form_class: 'request-form'%>
    </div>
  </div>
</div>
