<div>
  <div class="home-page-content-comment-user">
    <div class="user-image-comment">
      <%= render partial: 'userinfo', locals: {user: users[user_ids.find_index(comment.user_id)], partial: true}%>
    </div>
  </div>
  <div class="home-page-content-comment-text">
    <div class="comment-body">
      <p><%=comment.text%></p>
    </div>
  </div>
  <div class="home-page-content-comment-button">
    <%= button_tag "Like"%>
  </div>
</div>
