<button class="stories">
  <img src="<%=story.uri%>" class="story-img">
  <%= button_to '', show_story_home_index_path, params:{id: "#{story.id}"} ,remote: :true, autocomplete: false ,class: 'fade',form_class: 'fade-form', onclick:"bodyoverflow()", method: :get%>
</button>
