<h1>Hello</h1>
<%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= button_to "Sign out", destroy_session_path(@user), method: :delete %></p>
<%= button_to "Edit", edit_registration_path(@user), method: :get %></p>
