document.getElementsByClassName("story-show-container")[0].classList.remove("display-none");
{
  let ele = document.getElementsByClassName("story-show-image")[0];
  ele.innerHTML = "<img src='<%=@attachment.uri%>' class='story-image'>";
  ele=document.getElementsByClassName("story-show-buttons")[0];
  ele.innerHTML="";
  <%if @story.user_id == current_user.id%>
  ele.innerHTML="<%=escape_javascript render partial: 'home/close_button'%>";
  <%end%>
  ele.innerHTML+="<button class='story-close-button' onClick='close_window()'><i class='fa fa-close'></i></button>";
}
