// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variable';
.home-page-contents{
  width: 100%;
  height: calc(100% - 50px);
  display: $div-display;
  flex-direction: $flex-direction-row;
}
.home-page-content-users{
  width: 20%;
  height: calc(100% - 50px);
}
.home-page-content-posts-and-stories{
  width: 60%;
  height: calc(100% - 50px);
  display: $div-display;
  justify-content: $justify-content-center;
  flex-direction: column;
}
.stories-div{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
  margin-bottom: 20px;
}
.new-post-div{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
  margin-bottom: 20px;
}
.home-page-content-stories{
  width: 70%;
  height: 290px;
  background-color: rgba(0,0,0,0.2);
  overflow-x: scroll;
  overflow-y: hidden;
}
.stories{
  height: 250px;
  width: 150px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.home-page-content-stories-container{
  width:fit-content;
  height: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-text{
  width: 100%;
  max-width: 100%;
  height: 150px;
  margin-bottom: 20px;
  resize: none;
}
.home-page-content-new-post{
  background-color: rgba(0,0,0,0.2);
  width: 60%;
  height: fit-content;
}
.home-page-content-new-post-text{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
}
.new_post{
  width: 90%;
}
.files-button{
  display: none;
}
.user-image-post{
  height: 100%;
  display: $div-display;
  flex-direction: $flex-direction-row;
  min-width: 185px;
  padding-left: 5%;
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;
}
.home-page-content-new-post-button{
  margin-bottom: 20px;
  padding-left: 5%;
  width: 100%;
}
.home-page-content-posts-div{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
  flex-direction: $flex-direction-column;
}
.home-page-content-posts{
  background-color: rgba(0,0,0,0.2);
  width: 60%;
  height: fit-content;
  align-self: center;
  margin-bottom: 20px;
  padding-bottom: 1px;
}
.post-body{
  width: 90%;
  min-height: 150px;
  height: fit-content;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.4);
}
.home-page-content-post-text{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
}
.home-page-content-post-button{
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  width: 100%;
  box-sizing: border-box;
  display: $div-display;
  flex-direction: $flex-direction-row;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
.home-page-content-comments-div{
  width: 100%;
  height: fit-content;
  display: $div-display;
  flex-direction: column;
}
.comment-text{
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  resize: none;
}
.home-page-content-new-comment{
  display: $div-display;
  justify-content: center;
}
.new-comment{
  width: 90%;
  justify-content: center;
  margin-bottom: 20px;
}
.user-image-comment{
  height: 100%;
  display: $div-display;
  flex-direction: $flex-direction-row;
  min-width: 185px;
  padding-left: 5%;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-page-content-comment-text{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
}
.comment-body{
  width: 90%;
  height: fit-content;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.4);
}
.home-page-content-comment-button{
  margin-bottom: 20px;
  padding-left: 5%;
  width: 100%;
  box-sizing: border-box;
  display: $div-display;
  flex-direction: $flex-direction-row;
}
.display-none{
  display: none;
}
.home-page-content-post-button-border-removed{
  padding-bottom: 0px;
  border-bottom: 0px solid rgba(0,0,0,0.4);
}
.home-page-content-post-user{
  display: flex;
  width: 100%;
  height: fit-content;
}
.post_update_delete{
  width: fit-content;
  height: 100%;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}
.display-none{
  display: none;
}
.post-body-color-removed{
  background-color: rgba(black, 0);
  border: 0px;
}
.form-edit{
  width: 100%;
  min-height: 150px;
  height: fit-content;
}
.form-edit-comment{
  width: 100%;
  height: fit-content;
  max-height: 150px;
}
.post-text-edit{
  width: 100%;
  max-width: 100%;
  height: 150px;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.4);
}
.posts-body{
  height: fit-content;
}
.edit-buttons-posts{
  display: flex;
  flex-direction: row;
}
.home-page-content-comment-user{
  display: flex;
  flex-direction: row;
}
.comment-text-edit{
  width: 100%;
  height: fit-content;
  resize: none;
  box-sizing: border-box;
}
.comment-body-border-removed{
  background-color: rgba(black, 0);
  border: 0px solid ;
}
.user-profile-button{
  width: fit-content;
  height: fit-content;
  display: $div-display;
  flex-direction: $flex-direction-row;
  min-width: 185px;
}
.index-images{
  width: 90%;
  height: fit-content;
  max-height: 150px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}
.index-images-div{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
  margin-bottom: 20px;
}
.input-files{
  margin-right: 10px;
  border-radius: 5px;
}
.post-images{
  width: 90%;
  height: fit-content;
  max-height: 150px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}
.post-images-div{
  width: 100%;
  height: fit-content;
  display: $div-display;
  justify-content: $justify-content-center;
  margin-bottom: 20px;
}
.files-button-edit{
  display: none;
}
