@import 'variable';
.user-pic{
  height: $user-pic-height;
  width: $user-pic-width;
  border-radius: $user-pic-radius;
}
.user-image{
  width: 20%;
  height: 100%;
  display: $div-display;
  flex-direction: $flex-direction-row;
  min-width: 185px;
}
.user-name{
  margin-left: 10px;
}
.nav-bar{
  height: 50px;
  display: $div-display;
  flex-direction: $flex-direction-row;
  justify-content: $justify-content-center;
  margin-bottom: $margin-bottom-20;
}
.insta-search{
  width: 60%;
  height: 100%;
  display: $div-display;
  justify-content: $justify-content-center;
  align-items: $align-items;
}
.insta-options{
  width: 20%;
  height: 100%;
  display: $div-display;
  justify-content: $justify-content-right;
  align-items: $align-items;
}
