// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variable';
@import "font-awesome";
.user-show-container{
  height: calc(100vh - 90px);
  width: 100%;
  display: $div-display;
  flex-direction: $flex-direction-row;
}
.user-profile{
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba($color: black, $alpha: 0.4);
}
.user-profile-pic{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-posts{
  width: 70%;
  height: 100%;
  box-sizing: border-box;
}
.user-show-pic{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px;
}
.user-profile-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.user-show-edit{
  height: fit-content;
  margin-left: 20px;
}
.user-profile-types{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-show-pass-edit{
  margin-left: 20px;
}
.user-posts{
  padding-left: 40px;
  overflow-y: scroll;
  padding-top: 5px;
}
.user-profile-name-edit{
  margin-bottom: 10px;
  margin-top: 10px;
}
.edit_name{
  display: flex;
  flex-direction: column;
}
.form-name-edit{
  margin-bottom: 20px;
}
.change-image{
  display: flex;
  justify-content: center;
}
.indirect-submit{
  width: 120px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid blueviolet;
  box-shadow: 0px 0px 1px;
}
.indirect-submit:hover{
  background-color: rgba($color: blueviolet, $alpha: 1);
  color: white;
}
.user-name-edit{
  width: 70px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid blueviolet;
  box-shadow: 0px 0px 1px;
  margin-left: 20px;
}
.user-name-edit:hover{
  background-color: rgba($color: blueviolet, $alpha: 1);
  color: white;
}
.user-done-edit{
  width: 70px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid blueviolet;
  box-shadow: 0px 0px 1px;
  margin-left: 20px;
}
.user-done-edit:hover{
  background-color: rgba($color: blueviolet, $alpha: 1);
  color: white;
}
.show-button{
  width: 120px;
  height: 40px;
  background-color: blueviolet;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 1px;
  color: white;
}
.show-button:hover{
  background-color: rgba($color: blueviolet, $alpha: 0.8);
  color: white;
}
