@import 'variable';

.user-pic{
  height: $user-pic-height;
  width: $user-pic-width;
  border-radius: $user-pic-radius;
}

.user-name{
  margin-left: 10px;
}

.user-name-link{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
}
.notify{
  position: absolute;
  top: 0%;
}
