$user-pic-width: 50px;
$user-pic-height: 50px;
$user-pic-radius: 25px;
$div-width: 100%;
$div-display: flex;
$flex-direction-row: row;
$flex-direction-column: column;
$justify-content-center: center;
$justify-content-left: left;
$justify-content-right: right;
$align-items: center;
$margin-bottom-20: 20px;
$fit-content: fit-content;
